<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442316299900-deqtp5fq4q1mio6hjr3pn7fb7dvd8na2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442316299900-deqtp5fq4q1mio6hjr3pn7fb7dvd8na2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>442316299900-ijevrs595sv1f9rhur15skm26326d6d0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCnPcCB0vCoCob__-nk2LTTTWdSfdyweew</string>
	<key>GCM_SENDER_ID</key>
	<string>442316299900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.konRkmyKingGo.app</string>
	<key>PROJECT_ID</key>
	<string>kinggolisting</string>
	<key>STORAGE_BUCKET</key>
	<string>kinggolisting.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442316299900:ios:d2795b09f197c382f273f9</string>
</dict>
</plist>